@model IEnumerable<KUSYS_Demo.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div id="PlaceHolderHere"></div>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                
            <td>
                @if (User.IsInRole("admin"))
                {
                <button type="button" class="p-3 mb-2 bg-primary text-white"><a asp-action="Edit" class="p-3 mb-2 bg-primary text-white" asp-route-id="@item.Id">Edit</a></button> 
                <button type="button" class="p-3 mb-2 bg-danger text-white"> <a asp-action="Delete" class="p-3 mb-2 bg-danger text-white" asp-route-id="@item.Id">Delete</a></button>

                }
                <button type="button" class="p-3 mb-2 bg-warning text-white" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action($"Details/{item.Id}")"> <a class="p-3 mb-2 bg-warning text-white">Details</a></button> 

            </td>    
  
        </tr>
}
    </tbody>
</table>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>





